@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
  }

  /*--- Navbar ---*/
  .navbar {
    background:#4038d4;
    border-color: #6c68d6;
    border-bottom-style: solid;
    border-width: 2px;
  }
  .nav-link {
    margin-right: 2em;
    color: #fff;
    cursor: pointer;
  }
  .nav-link:hover {
    color: whitesmoke;
  }
  #btn-log {
    background-color: #4038d4;
    padding: 7px 30px 7px 30px;
    border-radius: 10px;
    border-width: 2px;
    font-weight: bold;
    float: right;
    margin-right: 7%;
  }
  .navbar-brand {
      margin: 0 3% 0 9.5%;
  }
/*--- End navbar ---*/

/*--- Header ---*/
  .header {
    background-image: url('../imgs/sus.png');
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .titlu {
    padding-top: 2%;
  }
  .titlu h1 {
    font-size: 3rem;
    color: white;
  }
  .container-titlu {
    font-size: 1.3rem;
    color: white;
    margin-top: 1%;
  }
  /*End header*/

  /*Formular*/

.vl {
  border-left-style: solid;
  border-width: 1px;
  border-color: lightgray;
  height: 550px;
}
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
}
label {
  box-sizing: border-box;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input[type="email"],
input[type="text"] {
  width: 30em;
  background-color: white;
  height: calc(3em + 2px);
  padding: 1em;
  font-size: 1em;
  border: 1px solid #4038d4;
  border-radius: 0.5em;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  box-shadow: none;
  resize: none;
  outline: none;
}
input[type="email"]:hover,
input[type="text"]:hover {
  border: 1px solid #4038d4;
}
input[type="email"]:focus, input[type="email"]:active,
input[type="text"]:focus,
input[type="text"]:active {
  border: 1px solid #4038d4;
}
input[type="email"]:focus + label:before, input[type="email"]:active + label:before,
input[type="text"]:focus + label:before,
input[type="text"]:active + label:before {
  color: #4038d4;
}
input[type="email"] + label,
input[type="text"] + label {
  display: block;
  font-size: 1em;
  height: 3em;
  line-height: 3em;
  margin-top: calc(-3em - 1px);
  margin-bottom: 1em;
  pointer-events: none;
}
input[type="email"] + label:before,
input[type="text"] + label:before {
  content: attr(placeholder);
  display: inline-block;
  color: #4038d4;
  margin: 0 calc(1em + 2px);
  white-space: nowrap;
  -webkit-transition-property: -webkit-transform, color;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: transform, color;
  transition-property: transform, color, -webkit-transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
input[type="email"]:focus + label:before, input[type="email"].active + label:before, input[type="email"]:valid + label:before,
input[type="text"]:focus + label:before,
input[type="text"].active + label:before,
input[type="text"]:valid + label:before {
  background: white;
  line-height: 1;
  padding: 0 1.5px;
  -webkit-transform: translateY(calc(-3em / 2 - 1px/ 2)) scale(0.8, 0.8);
  transform: translateY(calc(-3em / 2 - 1px/ 2)) scale(0.8, 0.8);
}
input[type="email"]:valid,
input[type="text"]:valid {
  border: 1px solid #4038d4;
}
input[type="email"]:valid + label:before,
input[type="text"]:valid + label:before {
  content: attr(alt);
  color: #4038d4;
}
textarea {
  width: 30em;
  background-color: white;
  height: 18em;
  padding: 1em;
  font-size: 1em;
  border: 1px solid #4038d4;
  border-radius: 16px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  box-shadow: none;
  resize: none;
  outline: none;
}
textarea:hover {
  border: 1px solid #4038d4;
}
textarea:focus, textarea:active {
  border: 1px solid #4038d4;
}
textarea:focus + label:before, textarea:active + label:before {
  color: #4038d4;
}
textarea + label {
  display: block;
  font-size: 1em;
  height: calc(18em + 2px);
  line-height: 1;
  padding-top: calc(1em + 1px);
  margin-top: calc(-18em - 2px);
  margin-bottom: 1em;
  pointer-events: none;
}
textarea + label:before {
  content: attr(placeholder);
  display: inline-block;
  color: #4038d4;
  margin: 0 calc(1em + 2px);
  white-space: nowrap;
  -webkit-transition-property: -webkit-transform, color;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: transform, color;
  transition-property: transform, color, -webkit-transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
textarea:focus + label:before, textarea.active + label:before, textarea:valid + label:before {
  background: white;
  line-height: 1;
  padding: 0 1.5px;
  -webkit-transform: translateY(calc((-1em - 0.5em) - 0.5px)) scale(0.8, 0.8);
  transform: translateY(calc((-1em - 0.5em) - 0.5px)) scale(0.8, 0.8);
}
textarea:valid {
  border: 1px solid #4038d4;
}
textarea:valid + label:before {
  content: attr(alt);
  color: #4038d4;
}
.mid-zone {
  width: 80%;
  background-color: white;
  margin:0 auto;
  transform: translateY(-25%);
  border-radius: 12px;
  padding: 5% 0 5% 0;
  box-shadow:
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 100px 80px rgba(0, 0, 0, 0.07);
}
.mail h10, .birou h10, .birou-sofia h10 {
  color: #ffc107;
}
.mail p, .birou p, .birou-sofia p {
  font-weight: bold;
  font-size: 11pt;
}
.mail, .birou {
  margin-bottom: 70%;
}
#btn-cpc {
  border-radius: 10px;
  color: white;
  background-color: #4038d4 ;
  padding: 12px 50px 12px 50px;
  font-weight: bold;
}
/*Sf formular*/

/*Zona register*/
.zona-reg {
  width: 80%;
  background-color: white;
  margin:-4% auto 2% auto;
}
#btn-sb {
  border-radius: 10px;
  color: #4038d4;
  padding: 15px 38px 0px 38px;
  font-weight: bold;
  margin-left: 10%;
}
#input-rg {
  width: auto;
  padding: 25px 38px 28px 38px;
}
#label-rg {
  margin-top: -21%;
}
.text-reg h1 {
  font-size: 30pt;
}
.btn-input-zone {
  margin-top: 2%;
}
/*Sf zona register*/

/* Footer */
.footer {
  width: 80%;
  margin: 0 auto 6% auto;
}
.logo {
  color: white;
}
.ftr-el {
  margin-top: 10%;
}
.media-logo {
  margin-left: 10%;
}
.media {
  padding: 15px 15px 15px 15px;
  border-radius: 30px;
  border-color: #6c68d6;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 2%;
  margin-right: 1%;
}
.txt-logo {
  margin-top: 5%;
}
#fb {
  padding: 15px 19px 15px 19px;
  background-color:#6c68d6;
}
.sitemap, .birou-buc, .logo {
  margin-right: 13%;
}
.copyright {
  border-color: #6c68d6;
  border-top-width: 2px;
  border-top-style: solid;
  padding-top: 13px;
}
.t-and-c {
  margin-right: 1%;
}
.big-ftr {
  background-image: url('../imgs/jos.png');
  background-size: 100% 100%;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}
/*Sf footer */

/* Mediaq */
@media (max-width: 375px) { 
  #label-rg {
    margin-top: -20%!important;
  }
}

 @media (max-width: 575.98px) { 
  #btn-log {
    float: left;
  }
  input[type="email"],
  input[type="text"] {
    width: 90%;
  }
  textarea {
    width: 90%;
  }
  .vl {
    display: none;
  }
  .form-mb {
    justify-content: center;
    flex-direction: column;
  }
  .zona-reg {  
    flex-direction: column;
  }
  .btn-input-zone {
    flex-direction: column;
  }
  .ftr-el{
    flex-direction: column;
  }
  .big-ftr {
    background-image: url(../imgs/jos_m.png);
    height: 1300px;
  }
  .header{
    height: 80%;
  }
  .titlu h1 {
    font-size: 2rem;
    width: 65%;
    margin: 0 auto;
  }
  .titlu {
    padding-top: 15%;
  }
  .container-titlu {
    font-size: 1rem;
    margin-top: 7%;
  }
  .mid-zone{
    transform: translateY(-10%);
    width: 90%;
  }
  .formular {
    width: 100%;
    margin: 0 auto 0 5%;
  }
  .formular p {
    margin-left: 6%;
  }
  .recaptcha {
    width: 90%;
  }
  #btn-cpc {
    display: flex;
    margin: 0 auto;
  }
  .mail, .birou, .birou-sofia {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
  }
  .text-reg {
    text-align: center;
    margin-bottom: 5%;
  }
  .text-reg h1 {
    font-size: 2rem;
    margin-bottom: 9%;
  }
  .btn-input-zone {
    width: 90%;
    margin: 0 auto;
  }
  #btn-sb {
    padding: 15px 80px 0px 80px;
    margin: 2% auto 0 auto;
    display: flex;
  }
  #label-rg {
    margin-top: -18%;
  }
  .footer {
    transform: translateY(75%);
    margin-left: 0;
  }
  .birou-sof h3, .birou-buc h3, .sitemap h3 {
    font-size: 1.3rem;
  }
  .media {
    transform: translate(0);
  }
  .copyright {
    margin-top: auto;
    margin-bottom: 5%;
    padding-top: 5%;
  }
  .copyright p {
    text-align: center;
  }
  .t-and-c{
    margin: 0 auto;
  }
  .media {
  padding: 15px 15px 15px 15px;
  border-radius: 30px;
  border-color: #6c68d6;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 2%;
  margin-right: 3%;
  }
  .media-logo {
    transform: translateY(800px)!important;
    margin-left: 26%;
  }
  #fb {
    background-color: #4038d4;
  }
 }

 @media (min-width: 576px) and (max-width: 767.98px) {
  #btn-log {
    float: left;
  }
  input[type="email"],
  input[type="text"] {
    width: 90%;
  }
  textarea {
    width: 90%;
  }
  .vl {
    display: none;
  }
  .form-mb {
    justify-content: center;
    flex-direction: column;
  }
  .zona-reg {  
    flex-direction: column;
  }
  .btn-input-zone {
    flex-direction: column;
  }
  .ftr-el{
    flex-direction: column;
  }
  .big-ftr {
    background-image: url(../imgs/jos_m.png);
    height: 1300px;
  }
  .header{
    height: 80%;
  }
  .titlu h1 {
    font-size: 2rem;
    width: 65%;
    margin: 0 auto;
  }
  .titlu {
    padding-top: 3%;
  }
  .container-titlu {
    font-size: 1rem;
    margin-top: 2%;
  }
  .mid-zone{
    transform: translateY(-4%);
    width: 90%;
  }
  .formular {
    width: 100%;
    margin: 0 auto 0 5%;
  }
  .formular p {
    margin-left: 23%;
  }
  .recaptcha {
    width: 90%;
  }
  .g-recaptcha {
    margin-left: 23%;
  }
  #btn-cpc {
    display: flex;
    margin: 0 auto;
  }
  .mail, .birou, .birou-sofia {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
  }
  .text-reg {
    text-align: center;
    margin-bottom: 5%;
  }
  .text-reg h1 {
    font-size: 2rem;
    margin-bottom: 9%;
  }
  .btn-input-zone {
    width: 90%;
    margin: 0 auto;
  }
  #btn-sb {
    padding: 15px 80px 0px 80px;
    margin: 2% auto 0 auto;
    display: flex;
  }
  #label-rg {
    margin-top: -11.5%;
  }
  .footer {
    /* transform: translateY(95%); */
    margin-top: 30%;
    margin-left: 0;
  }
  .birou-sof h3, .birou-buc h3, .sitemap h3 {
    font-size: 1.3rem;
  }
  .media {
    transform: translate(0);
  }
  .copyright {
    margin-top: auto;
    margin-bottom: 5%;
    padding-top: 5%;
  }
  .copyright p {
    text-align: center;
  }
  .t-and-c{
    margin: 0 auto;
  }
  .media {
  padding: 15px 15px 15px 15px;
  border-radius: 30px;
  border-color: #6c68d6;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 2%;
  margin-right: 3%;
  }
  .media-logo {
    transform: translateY(680px)!important;
    margin-left: 35%;
  }
  #fb {
    background-color: #4038d4;
  }
  }

  @media (min-width: 768px) and (max-width: 991.98px) { 
    #btn-log {
      float: left;
    }
    input[type="email"],
    input[type="text"] {
      width: 90%;
    }
    textarea {
      width: 90%;
    }
    .vl {
      display: none;
    }
    .form-mb {
      justify-content: center;
      flex-direction: column;
    }
    .zona-reg {  
      flex-direction: column;
    }
    .btn-input-zone {
      flex-direction: column;
    }
    .ftr-el{
      flex-direction: column;
    }
    .big-ftr {
      background-image: url(../imgs/jos_m.png);
      height: 1300px;
    }
    .header{
      height: 80%;
    }
    .titlu h1 {
      font-size: 2.7rem;
      width: 65%;
      margin: 0 auto;
    }
    .titlu {
      padding-top: 5%;
    }
    .container-titlu {
      font-size: 1.4rem;
      margin-top: 5%;
    }
    .mid-zone{
      transform: translateY(-24%);
      width: 90%;
    }
    .formular {
      width: 100%;
      margin: 0 auto 0 5%;
    }
    .formular p {
      margin-left: 25%;
    }
    .recaptcha {
      width: 90%;
    }
    .g-recaptcha {
      margin-left: 25%;
    }
    #btn-cpc {
      display: flex;
      margin: 0 auto;
    }
    .mail, .birou, .birou-sofia {
      margin-top: 10%;
      margin-bottom: 10%;
      text-align: center;
      font-size: 1.5rem;
    }
    .mail p, .birou p, .birou-sofia p {
      font-size: 1.2rem;
    }
    .text-reg {
      margin-top: -25%;
      text-align: center;
      margin-bottom: 5%;
    }
    .text-reg h1 {
      font-size: 3rem;
      margin-bottom: 9%;
    }
    .text-reg p {
      font-size: 1.5rem;
    }
    .btn-input-zone {
      width: 90%;
      margin: 0 auto;
    }
    #btn-sb {
      padding: 15px 80px 0px 80px;
      margin: 2% auto 0 auto;
      display: flex;
    }
    #label-rg {
      margin-top: -9.5%;
    }
    .footer {
      /* transform: translateY(95%); */
      margin-top: 30%;
      margin-left: 0;
    }
    .birou-sof h3, .birou-buc h3, .sitemap h3 {
      font-size: 2rem;
    }
    .media {
      transform: translate(0);
    }
    .copyright {
      margin-top: auto;
      margin-bottom: 5%;
      padding-top: 5%;
    }
    .copyright p {
      text-align: center;
    }
    .t-and-c{
      margin: 0 auto;
    }
    .media {
    padding: 15px 15px 15px 15px;
    border-radius: 30px;
    border-color: #6c68d6;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 2%;
    margin-right: 3%;
    }
    .media-logo {
      transform: translateY(450px)!important;
      margin-left: 35%;
    }
    #fb {
      background-color: #4038d4;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .titlu {
      padding-top: 5%;
    }
    .mid-zone {
      transform: translateY(-25%);
    }
    .container-titlu {
      margin-bottom: 20%;
    }
    .ftr-el {
      font-size: 0.7rem;
      margin-top: 20%;
    }
  }
  @media (min-width: 1200px) and (max-width: 1440px) { 
      .ftr-el {
        font-size: 1rem;
        padding-top: 2.5%;
        
      }
      .logo p, .sitemap p, .birou-buc p, .birou-sof p  {
        font-size: 0.8rem;
      }
  }
  @media (min-width: 2000px) and (max-width: 3000px) { 
    .ftr-el {
      font-size: 3rem;
      padding-top: 2.5%;
    }
    .logo p, .sitemap p, .birou-buc p, .birou-sof p  {
      font-size: 1.1rem;
    }
    .mid-zone {
      transform: translateY(-35%);
    }
    .zona-reg {
      margin-top: -10%;
    }
}
@media (min-width: 3001px) { 
  .logo p, .sitemap p, .birou-buc p, .birou-sof p  {
    font-size: 1.8rem;
  }
  .text-reg h1 {
    font-size: 4rem;
  }
  .text-reg p {
    font-size: 1.8rem;
  }
  .date-contact {
    font-size: 1.8rem;
  }
  .copyright {
    font-size: 1.8rem;
  }
  .titlu h1 {
    font-size: 4rem;
  }
  .container-titlu p {
    font-size: 1.8rem;
  }
  .mid-zone {
    transform: translateY(-35%);
  }
}
/* Iphone 5/SE*/
@media screen and (device-aspect-ratio: 40/71) {
  .g-recaptcha {
    transform:scale(0.86);
    -webkit-transform:scal(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
    }
    .formular p {
      margin-left: 0%;
    } 
    #label-rg {
      margin-top:-23%!important;
    }
    .ftr-el {
      transform: translateY(6%);
    }
    .media-logo {
      margin-top: 25%;
    }
    .titlu h1 {
      font-size: 1.5rem;
    }
    .btn-input-zone {
      margin-left: 0%;
    }
}
/* Galaxy Fold*/
@media screen and (max-width: 280px) {
  .g-recaptcha {
    transform:scale(0.74);
    -webkit-transform:scal(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
  .formular p {
    margin-left: 1%;
    font-size: 0.8rem;
  } 
  .titlu h1 {
    font-size: 1.5rem;
  }
  .container-titlu p {
    font-size: 0.9rem;
  }
  .mid-zone {
    transform: translateY(-14%);
  }
  #input-rg {
    padding: 25px 22px 28px 30px;
  }
  #btn-sb {
    padding: 15px 58px 0 80px;
  }
  .btn-input-zone {
    margin-left: -1%;
  }
  .zona-reg {
    margin-top: -30%;
  }
  #label-rg {
    margin-top:-26%!important;
  }
  .big-ftr {
    height: 1400px;
  }
  .ftr-el {
    margin-top: 25%;
  }
  .media-logo {
    margin-top: 50%;
    margin-left: 18%;
  }
}
